/**
** FORM
*/

.form {
    display:flex;
    width:100%;
    height:100%;
}

.form.form-horizontal {
    flex-direction:row
}

.form.form-vertical {
    flex-direction: column
}

.form .form-input,
.form .form-label {
    display:flex;
    width:100%;
}

.form .form-input {
    padding:15px ;
    background:#fff;
    border:1px #c3c5c6 solid;
    border-radius:5px;
    width:100%;
    outline:0;
    color:#666;
    font-size:1em;
    font-weight: bold;
}


.form .form-label {
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    position:relative;
}

.form .form-label + .form-label {
    margin-top:15px;
}

.form-span {
    display:flex;
    padding:3px 15px;
    background:#fff;
    border:1px #c3c5c6 solid;
    border-radius:20px;
    width:auto;
    font-size: .75em;
    color:#666;
    position:absolute;
    top:-10px;
    left:20px;       
}

.form .invalidInput {
    border-color: #f593af;
    color: #f593af
}

.form .validInput {
    border-color: #80dcc6;
    color: #80dcc6
}

/**
** BUTTONS
*/

.btn {
    display:flex;
    align-items:center;
    justify-content: center;
    width: 100%;
    padding:15px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight:bold;
    font-size:.775em;
    border:0;
    border-radius:5px;
    background:#ccc;
    color:#666;
    transition: all .3s;
    outline:0;
}

.btn .btn-icon {
    font-size: 2em;
    margin-right:5px;
}

.btn:hover:not(.disabled) {
    cursor: pointer;
    filter: contrast(100%) saturate(100%);        
    box-shadow: 3px 3px 20px rgba(0, 0, 0, .3);            
}            
.btn:disabled {
    filter: grayscale(100%);
}

.btn-danger {
    background:#fff;
    color:#ef4859;
    border-color:#ef4859
}
.btn-danger:hover {
    background:#ef4859;
    color:#fff;
}